.content-one-right {
    background-image: url(../images/landscape-dog.jpeg);
    background-size: cover;
    background-position: top;
}

.blue-box.one {
    background-image: url(../images/dog1.jpeg);
    background-size: cover;
    background-position: top;
}

.blue-box.two {
    background-image: url(../images/dog2.jpeg);
    background-size: cover;
    background-position: top;
}
.blue-box.three {
    background-image: url(../images/dog3.jpeg);
    background-size: cover;
    background-position: top;
}

.blue-box.four {
    background-image: url(../images/dog4.webp);
    background-size: cover;
    background-position: top;
}
